anyio
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
attrs
backcall
beautifulsoup4
bleach
cargo
cffi
cmake
colorama
contourpy
cycler
debugpy
decorator
defusedxml
Django
django-cors-headers
django-environ
dlib
entrypoints
executing
fastjsonschema
fonttools
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pypiwin32
pywinpty
pyzmq
qtconsole
QtPy
scikit-learn
scipy
Send2Trash
six
sniffio
soupsieve
sqlparse
stack-data
terminado
threadpoolctl
tinycss2
tornado
traitlets
tzdata
wcwidth
webencodings
websocket-client
widgetsnbextension
